<div class="cnw_w">
    <div class="cnw_container-fluid">
        <div class="two-col-sidebar-right">
            <div class="content">
                {{ content | raw }}
            </div>

            <div class="sidebar-right">
                {{ right | raw }}
            </div>
        </div>
    </div>
</div>