<span class="cnw_taaliconen">
  <span class="cnw_taalicoon cnw_taalicoon-face"></span>
  <span class="cnw_taalicoon cnw_taalicoon-ballon{% if  score >= 1 %}-filled{% endif %}"></span>
  <span class="cnw_taalicoon cnw_taalicoon-ballon{% if  score >= 2 %}-filled{% endif %}"></span>
  <span class="cnw_taalicoon cnw_taalicoon-ballon{% if  score >= 3 %}-filled{% endif %}"></span>
  <span class="cnw_taalicoon cnw_taalicoon-ballon{% if  score >= 4 %}-filled{% endif %}"></span>
  <span>{{ score| transTo(preferredLanguage, 'language-icons') }}</span>
</span>
