<div class="cnw_uitpas-promotions">

    <p class="cnw_uitpas-promotions-block-title">Voordelen bij {{ organizer }}</p>

    <ul>
    {% for promotion in promotions %}
        <li>{{ promotion.title }}</li>
    {% endfor %}
    </ul>

</div>