<div class="cnw_uitx-disclaimer">

    <p class="cnw_uitx-disclaimer-more-info">Deze activiteit werd geselecteerd door jongeren. Meer cultuurtips? Check <a href="https://www.uitinvlaanderen.be/uitx" data-click-tracking-category="detail" data-click-tracking-action="uitx disclaimer more info">uitinvlaanderen.be/uitx</a><p>

</div>
