
body {
  background-color: white;
  color: $gray;
  padding-top: 77px;
}

.uit-logo {
  font-family: "Archivo Black";
  font-size: 20px;
}

.uit {
  background-image: url(/img/uit.svg);
  background-repeat: no-repeat;
  text-indent: -9999px;
  display: inline-block;
  height: 28px;
  width: 46px;
}

.static-img {
  width: 100%;
  height: auto;
  display: block;
}

.sortable {
  border: 1px dotted #ccc;
  padding: 15px 0;
}

.page-settings {
  position: absolute;
  right: 10px;
  top: 10px;
}

.page-settings > .btn {
  padding: 2px 6px;
}

.add {
  background-color: #EDEDED;
  padding: 25px;
  overflow: hidden;
}

legend {
  margin-top: 0.75em;
  font-size: 1em;
  line-height: 1.2em;
  padding-bottom: 0.75em;
  margin-bottom: 0.5em;
}

.fieldset-legend {
  color: #777;
}

fieldset {
  margin-bottom: 1em;
}

.state-open {
  display: none;
}

.open .state-open {
  display: block;
}

.open .state-closed {
  display: none;
}

.open .btn-add {
  background-color: #EDEDED;
}

.open .btn-add .plus-icon {
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari */
  transform: rotate(45deg);
  color: #004F94;
}

.dropdown-menu .media {
  padding: 0 10px;
  text-align: left;
}

.open {
  background-color: #EDEDED;
}

.open .components-group,
.open .layouts-group {
  display: block;
  opacity: 1;
  height: auto;
  margin-top: 10px;
  transition: all 0.25s ease;
}

.empty {
  height: 40px;
  border: 1px dotted #ccc;
  margin-bottom: 30px;
}

.btn--css,
.btn--instelingen {
  background-color: $cnw_color-blueLight;
  &.active {
    background-color: darken($cnw_color-blueLight, 10);
  }
}

.tip ol li {
  margin-bottom: 1rem;
}

.btn-primary:focus, .btn-primary.focus {
  outline: none;
  box-shadow: none;
}

.layout--preview {
  padding: 2px 20px 10px 20px;
}

.layout--preview > :first-child {
  width: 100%;
}

.widget-code-preview {
  font-size: 12px;
  margin-top: 10px;
  opacity: 0.5;
  transition: opacity 200ms;
}

.widget-code-preview:hover, .selected .widget-code-preview {
  opacity: 1;
}

body.gu-unselectable {
  .layout--region {
    background-color: $cnw_color-blueLight2;
    border: 1px dotted $cnw_color-blueLight;
    min-height: 50px;
  }
  .outer-row {
    border: 1px dotted $cnw_color-blueLight;
  }
}

.builder--wrapper {
  padding-top: 77px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height:100%;
  overflow-y:auto;
  background-color: rgba(240, 248, 255, 0.34);
}


footer {
  float: left;
  width: 100%;
}

