/vendor
config.yml
/user_roles.yml
/integration_types.yml
/node_modules
/build
/log
/cache
/web/xhprof

widgets-static/node_modules
widgets-static/.tmp
widgets-static/node_modules
widgets-static/.tmp
widgets-static/bower_components
widgets-static/test/bower_components
widgets-static/dist
web/widgets-static/node_modules

web/assets/uploads
