<phpunit bootstrap="vendor/autoload.php">
    <testsuite name="all">
        <directory>test</directory>
        <exclude>./test/Insightly/InsightlyIntegrationTest.php</exclude>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
