.builder--edit-modus .preview-content {
  width: 90%;
  padding: 2%;
  margin: 20px auto;
  background-color: white;
  box-shadow: 5px 3px 8px 1px #646c73;
}
.preview {

  .cnw_form {
    //border:1px solid blue;
    div[class*='cnw_col-'],
    .cnw_col {
      flex-basis: 0;
    }
  }
  .cnw_sideCol .cnw_form .cnw_col {
    flex-basis: auto;
  }

  &.mobile {
    @for $i from 1 through $grid-columns {
      .cnw_col-#{$i} {
        @include make-col(12);
      }
    }

    .cnw_col {
      flex-basis: auto;
    }
    .cnw_form {
      div[class*='cnw_col-'],
      .cnw_col {
        flex-basis: auto;
      }
    }

    .cnw_flex-md-last {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

}

html .preview .cnw_sideCol {
  @for $i from 1 through $grid-columns {
    .cnw_col-#{$i} {
      @include make-col(12);
    }
  }
  .cnw_flex-md-last {
    -webkit-box-ordinal-group: initial;
    -ms-flex-order: initial;
    order: initial;
  }
}

.main-nav {
  background-color: white;
  float: left;
  width: 100%;
  & > .container {

    padding: 0;
    width: 100%;
    border: 0;
  }
}

.cnw_searchresult--block {
  margin-bottom: 3rem;
}

p.cnw_card-description {
  padding: 15px;
  width: 100%;
}