.cnw_searchresult-detail {

  .cnw_detail-summary {

    margin-bottom: 1rem;

    &.has-cnw-icon {
      padding-right: 60px;
    }

    &.has-both-cnw-icons {
      padding-right: 120px;
    }

  }
  .cnw_sticker--vlieg {
    float: right;
  }

  .cnw_sticker--uitpas {
    margin-top: 10px;
    float: right;

    &.cnw_sticker--has-vlieg {
      margin-right: 10px;
    }

  }

  &-block-title {
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0.75px;
    font-size: 1.3em;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    padding-bottom: 0.9em;
    margin-bottom: 1em;
    margin-top: 0.25em;
  }

  &-info {

    dt {
      @include make-col-ready();
      @include make-col(3);
      @include media-breakpoint-down(xs) {
        @include make-col(2);
      }

      .cnw-fa {
        display: none;
      }

    }

    dd {
      @include make-col-ready();
      @include make-col(9);
      @include media-breakpoint-down(xs) {
        @include make-col(10);
      }

    }

  }

  @include media-breakpoint-down(sm) {
    &-info {
      dt .cnw-fa {
        display: block;
      }
      em.cnw_searchresult-detail-label {
        display: none !important;
      }
    }
  }

  .cf-meta {
    padding-right: 3px;
  }

  .cf-weekday,
  .cf-to,
  .cf-from {
    text-transform: uppercase;
  }

  ul.cnw_searchresult-detail-booking-info,
  ul.cnw-event-date-info {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .cnw_uitpas-promotions {

    &-block-title {
      font-size: 1.2em;
      font-weight: 700;
      border-bottom: 1px solid #000;
      padding-bottom: 0.5em;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

  }

  .cnw-share {
    margin-right: 15px;
  }

}