.cnw_searchresult-detail {
  .cnw_detail-summary {
    margin-bottom: 1rem;

    &.has-cnw-icon {
      padding-right: 60px;
    }
  }
  .cnw_sticker--vlieg {
    float: right;
  }

  .cnw_sticker {
    margin-right: 10px;
  }

  .cnw_sticker--uitpas,
  .cnw_sticker--museumpas,
  .cnw_sticker--uitx {
    margin-top: 10px;
    float: right;
  }

  &-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  &-block-title {
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0.75px;
    font-size: 1.3em;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    padding-bottom: 0.9em;
    margin-bottom: 1em;
    margin-top: 0.25em;
  }

  &-info {
    dt {
      @include make-col-ready();
      @include make-col(3);
      @include media-breakpoint-down(xs) {
        @include make-col(2);
      }
    }

    dd {
      @include make-col-ready();
      @include make-col(9);
      @include media-breakpoint-down(xs) {
        @include make-col(10);
      }
    }
  }

  @include media-breakpoint-down(md) {
    &-info {
      dt .cnw-fa {
        margin-top: 4px;
        display: block;
      }
      em.cnw_searchresult-detail-label {
        @include hiddenClip;
      }
    }
  }

  ul.cnw_searchresult-detail-booking-info,
  ul.cnw-event-date-info {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      list-style: none;
    }
  }

  ul.cnw-event-date-info {
    // only show first 5 upcomping dates
    li:nth-child(n + 6) {
      display: none;
    }

    &.open li {
      display: block;
    }
  }

  // styling for show all date toggler
  a.cnw-event-date-info-toggle {
    span:nth-child(n + 2) {
      display: none;
    }

    &.open {
      span:first-child() {
        display: none;
      }
      span:nth-child(n + 2) {
        display: initial;
      }
    }
  }

  .cnw_uitpas-promotions {
    &-block-title {
      font-size: 1.2em;
      font-weight: 700;
      border-bottom: 1px solid #000;
      padding-bottom: 0.5em;
    }

    ul {
      margin: 0 0 10px 0;
      padding: 0;
      list-style: none;
    }
  }

  .cnw_searchresult-detail-price-info {
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1em;
    }
  }

  .cnw-share {
    margin-right: 15px;
  }
}

.cnw_searchresult-detail .cnw_img_responsive {
  margin-bottom: 0.5rem;
}

.cf-period {
  .cf-meta {
    &:after {
      content: " ";
    }
  }
}

.list {
  display: table;
  margin-bottom: 1rem;
}

.list-item {
  display: table-row;
  box-sizing: content-box;
  font-size: 15px;
}
.list-item-aside {
  display: table-cell;
  box-sizing: content-box;
  font-weight: 700;
}
.list-item-content {
  display: table-cell;
  padding-left: 30px;
  padding-bottom: 7.5px;
  width: 100%;
  box-sizing: content-box;
  vertical-align: top;
}

html .cnw_searchresult-price-info p {
  margin-bottom: 0;
}

/* styling for article links */

ul.cnw_searchresult-detail-articles {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cnw_searchresult-detail-article-title {
  display: inline-block;
  text-decoration: none;
  color: #292b2c;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.cnw_searchresult-detail-article-publisher-logo {
  vertical-align: top !important;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.cf-status[title]:after {
  content: "\f059";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-left: 5px;
}

.cnw_searchresult-detail-video-wrapper {
  margin-bottom: 10px;

  iframe {
    width: 560px;
    height: 315px;
  }

  @include media-breakpoint-down(xs) {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

/* end styling for article links */
