.cnw_form-custom-date {
  display: flex;
  margin-top: 1rem;
  .cnw_form-date-start {
    margin-right: 10px;
  }
}



@media (max-width: 768px) {

  .cnw_form--extended {
    .cnw_row {
      .cnw_col {
        flex-basis: unset;
      }
    }
  }

}

.cnw_sideCol .cnw_form--extended {
  .cnw_row {
    .cnw_col {
      flex-basis: unset;
    }
  }
}

html .cnw_w label {
  display: block;
}

.cnw_btn-search--holder {
  text-align: right;
}

.cnw_form-check {
  margin-bottom: 1.5rem;
  .cnw_form-check--label {
    display: block;
    margin-bottom: 0.7rem;
  }

}
