.cnw_facets {

  .cnw_facetedsearch {
    margin-bottom: 2.5em;
    margin-top: 1.5em;
  }

  div.cnw_facets_content {
    margin-bottom: 2rem;
    ul {
      padding:0;
      margin:0;
      li {
        list-style-type: none;
        margin:0;
      }
    }
  }

  a.cnw_facets_toggle {
    margin-bottom: 0.5em;
    display: block;

    .show {
      display: initial;
    }

    .hide {
      display: none;
    }

    &:after {
      display: inline-block;
      font: normal normal normal 14px/1 CnWFontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: '\f0da';
      margin-left: 10px;

    }
    &.cnw_facets_toggle--open {
      .hide {
        display: initial;
      }
      .show {
        display: none;
      }
    }
    &.cnw_facets_toggle--open:after {
      content: "\f106";
      margin-left: 10px;
    }
  }

}


