
.cnw_taaliconen {
  display: block;
  margin-bottom: 10px;

  .cnw_taalicoon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    width: 15px;
    height: 19px;
    background-size: contain;
  }

  .cnw_taalicoon-face {
    background-image: url(/assets/images/language-icons/nl.svg);
  }

  .cnw_taalicoon-ballon-filled {
    background-image: url(/assets/images/language-icons/balloon-filled.svg);
  }

  .cnw_taalicoon-ballon {
    background-image: url(/assets/images/language-icons/balloon-empty.svg);
  }

  .cnw_taalicoon_text {
    display: block;
  }

}

/*
*   STICKERS
*/

.cnw_stickers {
  display: block;
  float: right;
  padding-right: 10px;
  @include media-breakpoint-down(xs) {
    float: none;
    display: flex;
    .cnw_sticker {
      margin-right: 10px;
    }

  }

}

@include media-breakpoint-down(xs) {
  .cnw_searchresult--block .cnw_stickers  {
    margin-bottom: 0.5rem;
  }
}

.cnw_stickers--mini {
  margin-bottom: 0px;
  margin-left: 6px;
}

.cnw_stickers--mini .cnw_sticker--vlieg {
  width: inherit;
  border: 1px solid #ccc;
  padding: 1px 4px;
  padding-left: 22px;
  border-radius: 2px;
  background-image: none;
  background-color: #00A0FF;
  background-position: right center;
  position: relative;
}


.cnw_stickers--mini .sticker {
  height: 18px;
  float: left;
}

.cnw_sticker--vlieg {
  background-image: url(../images/vlieg--sticker.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;

  display: block;
  height: 40px;
  width: 40px;
  border-radius: 100%;

  box-shadow: 2px 3px 3px #9591af;
  margin-bottom: 20px;


  .cnw_txt{
    background-color: #41DD6C;
    color: white;
    border-radius: 150%;

    display: inline-block;
    position: relative;
    bottom: -30px;
    right: -20px;
    font-size: 0.7rem;
    font-weight: bold;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 200%;
  }
}
.cnw_sticker--uitpas {
  display: block;
  width:45px;
  border: none;

  .uit-logo-bg {
    stop-color : #F0B32C;
  }
  .uit-logo-text {
    fill : #b58d35;
  }
}

.cnw_sticker--museumpas {
  display: block;
  width: 45px;
}

.cnw_searchresult__options {

  .cnw_form-check {
    display: inline-block;
    margin-right: 35px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .cnw_form-check-label {
    padding-left: 0;
  }
}

.cnw_searchresult--block {
  margin-bottom: 1.5rem;
}

p.cnw_card-description {
  font-size: 15px;
  margin-bottom: 15px;
  width: 100%;

  @include media-breakpoint-down(xs) {
    display: none;
  }

}

.cnw_btn__card-readmore {
  border: 1px solid gray;
}

.cnw_card-labels {
  margin-bottom: 15px;
}

.cnw_search-result-tags-item,
.cnw_searchresult-detail-tags-item {
    display: inline-block;
    margin-right: 2rem;
      &:before {
      content: "\f02b";
      font-family: "CnWFontAwesome";
      margin-right: 5px;
      color: #999999;
    }

}

.cnw_clips  div:not(.cnw_reset_row) .cnw_searchresult--block div[class*="cnw_col-"] {
  max-width:100%;
  flex-basis: auto;
 // ﻿-ms-flex-preferred-size: auto;
}

p span.cnw_badge {
  font-family: $font-family-sans-serif !important;
  font-weight: 100;
  background-color: #a5a5a5;
  font-size: 85%;
}

.cnw_w .cnw_searchresult__counter-text {
  font-size: 15px !important;
  font-weight: normal !important;
  float: none !important;
  clear:both !important;
}

/**
 * Search result widget.
 */
.cnw_searchresult {

  .cnw_pagination {

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    .cnw_page-link {
      font-size: 0.8em;
    }

  }

  .cnw_searchresult_footer {
    text-align: center;
  }

  .cnw_searchresult__searchwords{
    p span.cnw_badge{
      font-size: 100%;
      margin: 0 10px;
      padding: 5px 10px;
    }
  }

  .cnw_badge-editorial {
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
    font-size: 0.6em;
    padding: 0.5em 0.5em;
    margin-left: 10px;
    i{
      margin-right: 5px;
    }

  }
}

.cnw_searchresult--block .list-item i.cnw-fa,
.cnw_searchresult-detail .list-item i.cnw-fa{
    display: none;
}

.cnw-share i.cnw-fa{
  display: inline-block;
}

.cnw_searchresult--block.labels-as-icons .list-item i.cnw-fa,
.cnw_searchresult-detail.labels-as-icons .list-item i.cnw-fa{
  display: inline-block;
}

.cnw_searchresult--block .cnw_searchresult-detail-label,
.cnw_searchresult-detail .cnw_searchresult-detail-label {
  display: inline-block;
}

.cnw_searchresult--block.labels-as-icons .cnw_searchresult-detail-label,
.cnw_searchresult-detail.labels-as-icons .cnw_searchresult-detail-label{
  @include hiddenClip;
}

@media (max-width: 768px) {
  .cnw_searchresult--block .cnw_searchresult-detail-label {
      @include hiddenClip;
    }
  .cnw_searchresult--block .list-item i.cnw-fa {
    display: inline-block;
  }
}





@include media-breakpoint-down(md) {

  .cnw_searchresult--block dt.cnw_col-3 {@include make-col(3);}
  .cnw_searchresult--block dd.cnw_col-9 {@include make-col(9);}

}

app-2-col-sidebar-right-layout .cnw_searchresult__options label.cnw_form-check-label {
  padding-left: 1.25rem !important;
}

.cnw_w .cultuurnet-logo-uiv-link {

  display: block;
  text-align: center;

  .cultuurnet-logo-uiv {
    width: 100%;
    max-width: 162px;
  }
}

// facilities

.cnw_searchresult-facilities .cnw-fa {
  display: inline-block !important;
}

@include media-breakpoint-up(md) {
  .cnw_searchresult-facilities-list {
    -webkit-columns: 220px 2;
    -moz-columns: 220px 2;
    columns: 220px 2;
  }
}

.cnw_searchresult-facilities-list {
  list-style: none;
  padding: 0;
  margin: 0;

  border: 1px solid #ccc;
  padding: 1rem;

  li {
    list-style: none;
    padding-left: 7px;
    text-indent: -7px;
  }

  .cnw-fa-check-square {
    color: green;
  }

  .cnw-fa-times {
    color: #CCC;
  }
}

.cnw_full-facilities {
  height: 0;
  position: absolute;
  overflow: hidden;
}

.cnw_full-facilities.show {
  position: relative;
  height: inherit;
}

.cnw_alert-info {
  margin: .75rem 0;
  padding: .75rem 1.25rem;
  color:#004085;
  background-color:#cce5ff;
  border: 1px solid #b8daff;
  border-radius: .25rem;
}
