/*
<div id="widget-{{ id }}" data-widget-placeholder-id="{{ id }}">
    <div class="widget-loader">
        <div class="widget-loader--wrapper">
            <div class="widget-loader--bouncers">
                <div class="bounce1 bouncer"></div>
                <div class="bounce2 bouncer"></div>
                <div class="bounce3 bouncer"></div>
            </div>
            <div class="widget-loader--text">Even geduld </div>
        </div>
    </div>
</div>
 */


.widget-loader {

  /* border: 1px solid #ece6e6; */
  border-radius: 10px;
  background-color: #f9fcff;
  color: gray;
  padding: 5px 0;
  clear: both;
  width:100%;

  margin-bottom: 10px;


  background: linear-gradient(-45deg, #ffffff, #f9fcff, #ffffff);
  background-size: 800%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.widget-loader--wrapper {
  margin:0 auto;
  text-align: center;
  width:300px;

}

.widget-loader--bouncers {
  margin: 0 auto;
  width: 70px;
  text-align: center;
  padding: 5px 0;

}



.widget-loader--text {
  display: inline-block;
  font-size: 0.8rem;
text-transform: uppercase;
  color: #bbc7d4;

  font-family: Helvetica;
  font-weight: 100;
}


.widget-loader--bouncers > div.bouncer {
  width: 18px;
  height: 18px;
  background-color: #d0dbe6;

  border-radius: 100%;
  display: inline-block;

}

.widget-loader--bouncers .bounce3 {
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;

  -webkit-animation-delay: -0.08s;
  animation-delay: -0.08s;
}

.widget-loader--bouncers .bounce2 {
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;

}

.widget-loader--bouncers .bounce1 {
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;

}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}







@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
