.widget-loader--block {
  width: 40px;
  height: 40px;
  background-color: red;

  background: url(http://widgetbeheer-api.dev/assets/images/uit-logo.png);
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;

  margin: 10px auto;
  -webkit-animation: sk-rotateplane 2s infinite ease-in-out;
  animation: sk-rotateplane 2s infinite ease-in-out;
  box-shadow: 1px 0px 20px 5px rgb(218, 223, 230);


}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  25% { -webkit-transform: perspective(120px) rotateY(180deg) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  75% { -webkit-transform: perspective(120px) rotateY(0deg)  rotateX(180deg) }
  100% { -webkit-transform: perspective(120px)  }

}
/*
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    } 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      }
}*/