.widget-loader--block {
  width: 40px;
  height: 40px;
  background-color: transparent;

  background: url(/assets/images/uit-logo.png);
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;

  margin: 10px auto;
  -webkit-animation: square-loader 1.5s infinite ease-in-out;
  animation: square-loader 1.5s infinite ease-in-out;
  box-shadow: 1px 0px 20px 5px rgb(218, 223, 230);

}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  25% { -webkit-transform: perspective(120px) rotateY(180deg) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  75% { -webkit-transform: perspective(120px) rotateY(0deg)  rotateX(180deg) }
  100% { -webkit-transform: perspective(120px)  }

}



@-webkit-keyframes square-loader {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(90deg);
    transform: perspective(120px) rotateX(0) rotateY(90deg);
    opacity: 1
  }

  25% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0)
  }

  50% {
    -webkit-transform: perspective(120px) rotateX(-90deg) rotateY(0);
    transform: perspective(120px) rotateX(-90deg) rotateY(0)
  }

  75% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0);
    transform: perspective(120px) rotateX(-180deg) rotateY(0)
  }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(90deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(90deg);
    opacity: 1
  }
}
