<div id="widget-{{ id }}" data-widget-placeholder-id="{{ id }}" data-widget-type="{{ type }}" data-widget-autoload="{{ autoload }}">
    <div class="widget-loader">
        <div class="widget-loader--wrapper">
            <div class="widget-loader--block"></div>
        </div>
    </div>
</div>