/*
This CSS resource incorporates links to font software which is 
the valuable copyrighted property of WebType LLC, The Font Bureau, 
and/or their suppliers. You may not 
attempt to copy, install, redistribute, convert, modify or reverse 
engineer this font software. Please contact WebType with any 
questions: http://www.webtype.com 
*/

/* FONTS
-------------------------------------------------------------------------------------------------------------------------------------------------------------------  */
/*@font-face {
  font-family: "Franklin ITC Pro Cond Med";
  src: url("../fonts/b50691e7-3527-4ffd-a980-5d2b0d4ff10c-2.eot");
  src: url("../fonts/b50691e7-3527-4ffd-a980-5d2b0d4ff10c-2.eot?") format("embedded-opentype"),
       url("../fonts/b50691e7-3527-4ffd-a980-5d2b0d4ff10c-3.woff") format("woff"),
       url("../fonts/b50691e7-3527-4ffd-a980-5d2b0d4ff10c-1.ttf") format("truetype"),
       url("../fonts/b50691e7-3527-4ffd-a980-5d2b0d4ff10c-4.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}*/

.productie-info p a {text-decoration: underline;}


#newsletter-box {clear:both;}
.page-block div.info a {text-decoration: underline !important;}
#news p.date {padding-top:10px;}
h3.results {
    float:left;margin-left:10px !important;margin-top:14px !important;
}
.home-text {margin-bottom:20px;}


/*#anchors li {text-indent:-9px;padding-left:9px;}*/

div.info ul li {
    /*
     * We want the bullets outside of the list,
     * so the text is aligned. Now the actual bullet
     * is outside of the listâ€™s container
     */
    list-style-position: outside;

    /*
     * Because the bullet is outside of the listâ€™s
     * container, indent the list entirely
     */
    margin-left: 30px !important;
}

/*div.info li {text-indent: -14px;padding-left:14px;line-height:24px;}*/
div.info ul ul {margin-left: 40px !important;list-style-type: circle !important;}


div.span6 div.productie-info ul {list-style-type:disc !important;margin-left:15px !important;}
#responsive-menu .navbar-inner {padding:0 !important;}
#other-accounts #tiny-newsletter-form #newsletter-submit {border:none;padding:0 !important;margin-left:10px;}
#other-accounts #tiny-newsletter-form #newsletter-email {border:1px solid #FFF;margin-bottom:0 !important;}

.above_footer, .above_slideshow {margin-bottom:50px;}
#personal-footer {padding-bottom:20px !important;}

.telex a:hover {text-decoration: underline !important;}
#footer-top .footer-info a:hover, #footer-top #personal-footer a:hover {text-decoration: underline !important;}

.telex {text-align:center;width:100%;padding:5px;}
ul.sidebarmenu .telex {padding:0 !important;}
.telex a {text-align:center;display:block;}
h2 {font-size: 36px !important;}

h3 {font-size: 24px !important;}

h4 {font-size: 20px !important;}

h5 {font-size: 16px !important;}

a.detail h3 {/*font-size:22px !important;*/line-height: 1.2;}
h2 { /*font-size: 36px;*/}
/*
#bg-tooltip #bg-tooltip-content h2 {font-size: 24px; text-transform: uppercase;}
#bg-tooltip #bg-tooltip-content h3 {font-size: 14px;}
#bg-tooltip #bg-tooltip-content h4 {font-size: 18px;}
*/

.page-block-content .info h2 {
    float:none !important;
    margin-bottom: 20px !important;
}

#upcoming-events h2 {/*font-size: 36px;*/ float: left; margin-bottom: 15px;}
.list-item h2{/*font-size: 34px; */text-transform: uppercase; margin:0;}
#production-holder .list-item h3 { /*font-size: 24px; */line-height: 1.5; margin-bottom: 5px;margin-top: 10px;}
.list-item h4 {/*font-size: 18px;*/ line-height: 1.5; margin-bottom: 5px; margin-top: 0 !important;}
#facebook-wrapper h2 {/*font-size: 36px;*/ float: left; /*text-transform: uppercase;*/ margin-top: 0;}
#social-wrapper h2 {/*font-size: 36px;*/  text-transform: uppercase; margin-top: 0; font-family: "Oswald","Franklin ITC Pro Cond Med","Trebuchet MS",Arial,sans-serif;}
#wrapper #main-holder #productie-detail h3, #page-detail h3 {/*font-size: 34px; */ margin: 0; }
#wrapper #main-holder #productie-detail h3 {/*font-size: 24px;*/ margin-top: 0;}
#wrapper #main-holder #productie-detail #productie-info h4 { /*font-size: 20px; */ /*text-transform: uppercase;*/ line-height: 1; margin-bottom: 10px;  }
#wrapper #main-holder #productie-detail .productie-info h5 {/*font-size: 16px;*/ margin:0; }
#wrapper #main-holder #productie-detail .productie-indepers h4 {/*font-size: 20px; *//* text-transform: uppercase; */line-height: 1; margin-bottom: 10px;}
#page-detail h2.title {/*font-size: 24px;*/ line-height: 1;/* text-transform: uppercase;*/}
#wrapper #main-holder #productie-detail h3 {/*font-size: 24px; */margin-top: 0;}

footer #footer-top h5.footer-title{ /* font-size: 24px;*/ /*text-transform: uppercase; */line-height: 1.2;}


.home-text h3 {
    text-transform: uppercase;
    font-size: 24px;
    font-family: "Oswald","Franklin ITC Pro Cond Med","Trebuchet MS",Arial,sans-serif;
}


.page-block.banner {margin-top:30px;margin-bottom:0 !important;}
#slideshow .slide .overlay .slide-info h2 { text-transform: uppercase; color: #fff; font-size: 24px; line-height: 1; margin: 0; margin-bottom: 5px;}
#slideshow .slide .overlay .slide-info h3 {font-size:18px; line-height: 1; margin:0;}



.footer-info p {font-size: 15px;}
div.embed {margin-top:10px !important;}
#footer-content a {font-size: 15px !important;}
div.page-block-content h2, #productions-title h2 {float:left;}
div.page-block-content h3, #productions-title h3 {float:left;}
div.page-block-content a.top, #productions-title a.top {float:right;}

div.info h3 {float:none !important;}

ul.navigation li {line-height: 1.2; margin-bottom: 10px;}
ul.navigation li ul li {/*margin-bottom: 0 !important;*/line-height: 1 !important;}
ul#anchors {margin-left:0 !important;margin-bottom:30px !important;}
.top-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: red;
    color:#fff;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    opacity: 0.8;
}

#row-prices li {clear:both;}

div.price {margin-top:13px;float:left;font-size:24px;font-weight:bold;margin-bottom:20px;text-align:right;}
span.amount {padding:9px;display:block;float:left;}

.error {background-color:#FF0000;}
div.total {clear:both;margin-bottom:5px;}

select.prices {float:left;margin-top:5px;width:50px;}
#form-event_ticket .label {margin-right:30px;cursor:default;background-color:transparent !important;text-shadow:none !important;}
#form-event_ticket {margin-top:10px;margin-left:-3px;}
#row-event_date_id {display:none;}


input.text, select, textarea, input.button {width:300px;padding:5px;height:auto;}
input.button {width:auto;}
#row-info textarea {height:100px;}

/* fontface in use */

div.info h4 {padding-top: 15px;}
div.info h4, header #logos #site-logo .logo, header #header-bot #main-nav, #wrapper #sidebar #side-nav, #slideshow .slide .overlay h2,
#slideshow .slide .overlay h3, .banner .name, #home-events h2, #wrapper #main-holder #productions-title, #wrapper #main-holder #productions-title h2,
#wrapper #main-holder #production-holder h3, #wrapper #main-holder #production-holder h4, #facebook-wrapper  h2,
#wrapper #main-holder #productielijst h2, #wrapper #main-holder #productielijst .productie h3, #wrapper #main-holder #productielijst .productie h4,
.more .read-more, #wrapper #main-holder #productie-detail h2, #page-detail h2, #page-detail h3, #wrapper #main-holder #productie-detail h3, #wrapper #main-holder #productie-detail .productie-link a,
#wrapper #main-holder #productie-detail #productie-info h4, #wrapper #main-holder #productie-detail #productie-tickets .ticket-btn, footer #footer-top h5, #event-calendar .ui-datepicker-title,
#bg-tooltip #bg-tooltip-content h2, #bg-tooltip-content h3, #bg-tooltip-content h4, #newsletter-form label, .list-item h3, .list-item h4, #upcoming-events h2, .banner .read-more , #responsive-menu,
#wrapper #main-holder #productie-detail .productie-indepers h4, #wrapper #main-holder #productie-detail .productie-indepers h3, footer h3, .intro h2
{font-family: "Oswald", "Franklin ITC Pro Cond Med","Trebuchet MS",Arial,sans-serif;}

/* GLOBAL
-------------------------------------------------------------------------------------------------------------------------------------------------------------------  */
html, body { height:100%;}
* { margin:0; padding:0; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; /*behavior: url(https://www.ccberchem.be/media/default/css/boxsizing.htc);*/}
body { font-family: Arial, Helvetica, sans-serif; color: #000;}
ul { list-style: none;}
.info ul { list-style: inside;}
h1, h2, h3, h4, h5, h6 { font-weight: normal; }

img { border:none;}
a, a:hover { text-decoration: none;}
ol, ul { margin: 0;}

body, p.date {font-size:16px;  line-height: 24px;}
#dna-holder * {-moz-box-sizing:content-box; -webkit-box-sizing:content-box; -ms-box-sizing:content-box; box-sizing:content-box; /*behavior: url(https://www.ccberchem.be/media/default/css/boxsizing.htc);*/}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

#wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -320px;  }

/* body bg & overlay */
body.invert-true { color: #fff;}
body #body-overlay { position: fixed; width: 100%; height: 100%; z-index: -1; }

/* bg tooltip */
#bg-tooltip { display: block; position: fixed; top: 20%; width: 25%; color: #fff; z-index: 999; opacity: 1; cursor: pointer;
    background-repeat: no-repeat; background-position: 15px center; -webkit-border-top-left-radius: 20px;-webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;-moz-border-radius-bottomleft: 20px;border-top-left-radius: 20px;border-bottom-left-radius: 20px; }

#bg-tooltip.open{right: 0; background-image: url(https://www.ccberchem.be/media/default/images/arrow-right-big.png);
    -moz-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; transition: all 0.4s; -ms-transition: all 0.3s; -o-transition: all 0.3s;}
#bg-tooltip.closed{right: -22%;  background-image: url(https://www.ccberchem.be/media/default/images/arrow-left-big.png);
    -moz-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; transition: all 0.4s; -ms-transition: all 0.3s; -o-transition: all 0.3s;}

#bg-tooltip #bg-tooltip-content {margin:10px 0 10px 70px;}

#bg-tooltip #bg-tooltip-content h2, #bg-tooltip-content h3, #bg-tooltip-content h4 {margin: 5px 0;  color: #fff;line-height: 1.2; }



/* COLORS
-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/*zie moodcolor.phtml voor primary color*/
/* 50 shades of grey */

/* sidebar & main nav */

body.invert-true .list-item h2, body.invert-true #newsletter-form label, body.invert-true #genres label,
body.invert-true label.error, body.invert-true #genres.error, body.invert-true  .list-item h4, body.invert-true  #wrapper #main-holder #productielijst .productie h4, body.invert-true .list-item p.date
{ color: #ffffff;}/* bg met img */
/*as bg */

body.invert-true #tiny-newsletter-form #newsletter-submit{ background-color: #b3b3b3;}
body.invert-true #newsletter-form #newsletter-submit{ background-color: #b3b3b3;}
/* topnav */



/* titles on page */
body.invert-false #promoted-events #productions-title, body.invert-false #wrapper #main-holder #productielijst form,
body.invert-false .more .read-more, body.invert-false #wrapper #main-holder #samecc #samecc-title h2, body.invert-false #wrapper #main-holder #diffcc #diffcc-title h2,
body.invert-false #page-detail h2.title
{ color: #cccccc;}/* witte bg */
body.invert-true #wrapper #main-holder #productielijst form, body.invert-true .more .read-more
{ color: #333333;}/* bg met img */
/* mid page square bg */
/*body.invert-false #upcoming-events {background-color: #f2f2f2;}/* witte bg */
/*body.invert-true #upcoming-events{background-color: #0d0d0d;}/* bg met img */
/*---------------------------------------------*/
#newsletter-form input[type="text"], #tiny-newsletter-form input[type="text"] {background-color: #b3b3b3 ;}


body.invert-false .list-item p.date, body.invert-false #upcoming-events table td a, body.invert-true #wrapper #main-holder #productie-detail .productie-indepers .production-pers-list time {color: #000000;}
body.invert-true .list-item p.date, body.invert-true header #header-bot #main-nav > ul > li > a, body.invert-true #wrapper #sidebar #side-nav ul li a, body.invert-true #upcoming-events table td a,
body.invert-true #wrapper #main-holder #productie-detail .productie-indepers .production-pers-list time
{ color: #ffffff;}
/* HEADER
-------------------------------------------------------------------------------------------------------------------------------------------------------------------  */
header #header-top { background-image: url(https://www.ccberchem.be/media/default/images/antwerp-navbar-bg.jpg); background-position: bottom;}
/*#dna-meta-navigation-widget-container ul li { line-height: 13px;}*/
/*header #header-bot { background-color: #fff;}*/

/* logos */
header #logos #site-logo { margin-top:0; }
.atlas-antwerpen header #logos #site-logo {padding: 10px;}
.atlas-antwerpen header #logos #site-logo a img {background: transparent !important;}
header #logos #site-logo .logo {font-size: 22px; color: #fff; line-height: 1.2;  margin: 0; text-transform: uppercase; padding: 18px 10px;  width:50%; height: 115px; float: left;
    -moz-transition: background 0.25s linear; -webkit-transition: background 0.25s linear; transition: background 0.25s; -ms-transition: background 0.25s; -o-transition: background 0.25s;/*behavior: url(https://www.ccberchem.be/media/default/css/boxsizing.htc);*/}
header #logos #site-logo .logo.center { padding: 45px 10px;}
header #logos #site-logo a {text-decoration: none;display: block;}
/*header #logos #site-logo a img{ float: left; display: block; width: 50%;}*/

/* antwerp navigatie */

header #header-top #antwerp-nav-bar { }
header #header-top #antwerp-nav-bar #antwerp-nav { }
header #header-top #antwerp-nav-bar #antwerp-nav li { float: left; border-right: 1px solid #666; padding: 0 20px; margin-top: 6px; height: 20px;}
header #header-top #antwerp-nav-bar #antwerp-nav li a{ color: #d1d1d1; text-transform: uppercase; font-size: 11px;}
header #header-top #antwerp-nav-bar #antwerp-logo { float: right;}

/* top navigatie */

header #header-bot #top-nav { font-size: 12px; float: right; margin-top: 16px;}
header #header-bot #top-nav ul li {display: block; float: right; margin-right: 10px;}
header #header-bot #top-nav ul li:first-child { margin-right: 0;}


/* social media */

header #header-bot #social-media-links { margin-top: 12px; float: right;margin-left:20px;}
header #header-bot #social-media-links a { display: block; float: left;  cursor: pointer;}



#social-media-links a {font-size:20px !important;margin-right: 10px;}
/* main navigatie */

#main-nav { margin-top: 40px;  }
#main-nav { font-size: 26px;  /*text-transform: uppercase; */}
#main-nav > ul > li:first-child {margin-left: 0;}
#main-nav > ul > li { display: block; float: left; margin-right: 15px;}
#main-nav > ul > li:first-child { margin-left: 0;}
#main-nav ul li a { color: #666; /*-moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; transition: all 0.25s; -ms-transition: all 0.25s; -o-transition: all 0.25s;*/}
#main-nav > ul > li {position: relative;}
#main-nav > ul > li:hover a {padding-bottom: 1px;}
#main-nav > ul > li.has-submenu:hover > a {border-bottom: 10px solid #000;}
#main-nav > ul > li:hover > ul {display: block;}
#main-nav ul li ul {background: #000; color:#fff; padding:10px 15px; text-align: center; position: absolute; top:28px; left:50%; z-index: 2; display: none; min-width:150px;}
#main-nav ul li ul li {margin-bottom: 5px;}
#main-nav ul li ul li a {color:#fff; font-size: 20px; text-transform: none; white-space: nowrap;}

/* 	SIDEBAR
-------------------------------------------------------------------------------------------------------------------------------------------------------------------  */

/* zijbalk nav */
#wrapper #sidebar #side-nav {font-size: 20px; padding-top: 20px; padding-left: 10px;}
#wrapper #sidebar #side-nav ul li {line-height: 1.2;}
#wrapper #sidebar #side-nav ul li a {/*text-transform: uppercase; */-moz-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s;}
#wrapper #sidebar #side-nav ul li a.line_top {display: block; padding-top: 10px; border-top: 1px solid; margin-top: 10px;}

body.invert-true #wrapper #sidebar #side-nav ul li a.line_top {border-color:#fff;}
#wrapper #sidebar #side-nav ul li a:hover, #wrapper #sidebar #side-nav ul li.active a {color: #49ccd4;}

/* zoekveld */
#search {  float:right;  margin-top: 5px;}
html.lt-ie8 #search {height:20px;}
#search-content {color: #fff; font-size: 11px; width:200px;}
#search-content form {margin: 0;}
#search-content input { font-family: Arial, Helvetica, sans-serif; height:auto; margin:0; background: none; border: 0; box-shadow: none; -moz-box-shadow:none; -webkit-box-shadow:none; color:#fff; max-width: 75%;}
#search-content #term {padding:10px; font-size: 15px;}
button#search-submit {background:none;border:none;color:#FFF;float:right;font-size:20px;margin-right:13px;margin-top:9px;}

/* INDEX
------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* flexslider */
#slideshow-holder {margin-bottom: 20px;}
#flexslider-holder {margin-bottom: 5px;}
#wrapper #main-holder .slideshow-nav { margin-top: 5px; }
#wrapper #main-holder .slideshow-nav ul li { display: block; cursor: pointer; overflow: hidden;}
#wrapper #main-holder .slideshow-nav ul li:first-child {margin-left: 0 !important;}
#wrapper #main-holder .slideshow-nav ul li:hover a  { }
#wrapper #main-holder .slideshow-nav ul li a { height: 7px; display: block; text-indent: -9999px; width:0%; box-shadow: none; border-radius:0; ;}
#wrapper #main-holder .slideshow-nav ul li a.flex-active {}

#wrapper #main-holder .slideshow-nav ul li:hover {background-color:white;}

#slideshow .slides { }
#slideshow .slide { position: relative; }
#slideshow .slide img { width: 100%; }
#slideshow .slide a { max-width: 100%; }
#slideshow .slide .overlay { position: absolute; left: 0; bottom: 60px; color:#fff;  height: auto;
    -moz-transition: all 0.6s linear; -webkit-transition: all 0.6s linear; transition: all 0.6s; -ms-transition: all 0.6s; -o-transition: all 0.6s; margin-left: 0; }

#slideshow .slide .overlay .slide-info { padding: 15px 10px; color:#fff; }
#slideshow .slide .overlay .slide-info .info {display: none; margin-top: 10px;}
#slideshow .slide:hover .overlay { height: auto; -moz-transition: all 0.6s linear; -webkit-transition: all 0.6s linear; transition: all 0.6s; -ms-transition: all 0.6s; -o-transition: all 0.6s; }
.flex-control-paging li a { border-radius: 0;}

/* kalender */
#event-calendar .ui-datepicker {padding:0; width: auto; border-radius: 0;}
#event-calendar .ui-widget { font-family: Arial, Helvetica, sans-serif; }
#event-calendar .ui-datepicker table {margin:0; width:100%;}

#event-calendar .ui-widget {font-size:1em;}
#event-calendar .ui-widget-header {background:none; border:0;}
#event-calendar .ui-datepicker-calendar th {text-transform:uppercase;}
#event-calendar .ui-widget-content {border:0; background: none;}
#event-calendar .ui-datepicker-title { font-size: 18px; font-weight: normal; }
#event-calendar .ui-icon-circle-triangle-e { background-image: url(https://www.ccberchem.be/media/default/images/arrow-right.png); }
#event-calendar .ui-icon-circle-triangle-w { background-image: url(https://www.ccberchem.be/media/default/images/arrow-left.png); }
body.invert-true #event-calendar .ui-icon-circle-triangle-e { background-image: url(https://www.ccberchem.be/media/default/images/arrow-right-invert.png); }
body.invert-true #event-calendar .ui-icon-circle-triangle-w { background-image: url(https://www.ccberchem.be/media/default/images/arrow-left-invert.png); }
#event-calendar .ui-icon-circle-triangle-w, #event-calendar .ui-icon-circle-triangle-e { background-position: center; }
#event-calendar a.ui-state-disabled {display:none;}
#event-calendar .ui-icon { background-repeat: no-repeat; }
/*#event-calendar .ui-icon-circle-triangle-w:hover { background: url(https://www.ccberchem.be/media/default/images/cal-prev-hover.png) no-repeat #202020; }
#event-calendar .ui-icon-circle-triangle-e:hover { background: url(https://www.ccberchem.be/media/default/images/cal-next-hover.png) no-repeat #202020; }*/
#event-calendar .ui-icon { width: 8px; height: 17px; }
#event-calendar .ui-icon:hover { cursor: pointer; }
#event-calendar .ui-datepicker-prev { border: none; background: none; }
#event-calendar .ui-datepicker-next { border: none; background: none; }
#event-calendar th { font-size: 1em; color: #666666; text-transform: uppercase; font-weight: normal; }
#event-calendar .ui-state-default { background: none; border: none; color: #666666; font-size: 14px; text-align: center; }
#event-calendar .ui-datepicker-title {color:#333333; text-transform: uppercase;}
#event-calendar .ui-datepicker-header {margin-bottom: 10px;}
body.invert-true #event-calendar th, body.invert-true #event-calendar .ui-state-default, body.invert-true #event-calendar .ui-datepicker-title {color:#fff;}
#event-calendar .ui-datepicker-today a, #event-calendar .ui-datepicker-today span  { font-weight: bold; }

#tooltip { position:absolute; display:none;z-index:100; }
#tooltip-content { color:#fff; padding:5px; font-size:14px; }

/* banners algemeen */
.banner {color: #fff;  margin-bottom: 20px; margin-top: 0; overflow: hidden; }
#wrapper #sidebar .banner { margin-top: 20px; margin-bottom: 0;}
#wrapper #sidebar .banner:last-child {margin-bottom: 50px;}
.banner a {color:#fff;}
.banner .name { font-size:24px; text-transform: uppercase; line-height: 1.2;}
.banner .name time {display: block; font-size: 14px; text-transform: none;}
.banner .name p, .banner .name .tweet-text {font-size: 14px; text-transform: none; line-height: 120%; font-family: Arial,Helvetica,sans-serif;}

article.banner a.name{display:block;padding:15px 15px 15px 10px;margin-left:0 !important;}
.banner .name.show-on-hover {display: none;}
.banner:hover .name.show-on-hover {display: block;}
.banner .read-more {font-size: 14px; text-transform: none; margin-top: 10px;text-indent: -9999px; -moz-transition: 1.5s all; -webkit-transition: 1.5s all; transition: 1.5s all;}
.banner .banner-overlay{ position: relative; height: 100%; width: 100%;opacity: 1;  }
.banner .banner-overlay .banner-overlay-inner{ position: absolute; padding: 15px; padding-left: 10px;}
.banner:hover .read-more, article.banner:hover a.name { text-indent: 0; -moz-transition: 0.5s all; -webkit-transition: 0.5s all; transition: 0.5s all;}
/* tekst banner */
.banner.text .banner-overlay .banner-overlay-inner { position: relative; }
.banner.text { height: auto; }
.banner.text .banner-overlay { position: relative; position: relative; height: 100%; width: 100%;  -moz-transition: 0.25s all; -webkit-transition: 0.25s all; transition: 0.25s all;}
.banner.text:hover .banner-overlay {-moz-transition: 0.25s all; -webkit-transition: 0.25s all; transition: 0.25s all;}
.banner .name p a {
    text-decoration: underline;
}



/* foto banner */
.banner.photo { position: relative; }
.banner.photo img { width: 100%;}
.banner.photo .banner-overlay { position: absolute; -moz-transition: 0.25s all; -webkit-transition: 0.25s all; transition: 0.25s all;}
.banner.photo:hover .banner-overlay {-moz-transition: 0.25s all; -webkit-transition: 0.25s all; transition: 0.25s all; }
.embed iframe, .embed embed, .embed object {width: 100%;}
.banner .embed iframe, .banner .embed embed, .banner .embed object {width: 100% !important;}

/*.banner.calendar {height: 230px;}*/

/* speellijst index */
#upcoming-events { padding-bottom: 10px;}

#upcoming-events a.all-events { font-size: 16px; float: left;margin-top: 20px; margin-bottom: 30px;  }
#upcoming-events table { width: 100%; margin-bottom: 0;}
#upcoming-events table tr { border-bottom: 1px solid #e5e5e5; }
#upcoming-events table td { /*font-size: 12px;*/ padding-bottom: 5px; padding-top: 5px; padding-left: 0;}
/*#home-events table td.event-date { padding-left:0; }*/
#upcoming-events table td.event-tickets {/*padding-left:50px; */text-align: right; }
#upcoming-events table.table tr:first-child td {border-top: 0;}
#upcoming-events table td.event-title {/* padding-left:50px;*/ font-weight: bold; }
#upcoming-events table td.event-title span { font-weight: normal;}


/* blikvangers (producties) */
#promoted-events #productions-title {float: left;/*text-transform: uppercase;*/}
#promoted-events #production-holder { margin-bottom: 50px;}
/* #promoted-events #production-holder .list-item:nth-child(4n) { clear: left;} */
.list-item .list-item-outer {position: absolute; width: 100%; height: 100%; background: #f2f2f2; top:-5px; left: -5px; width: -moz-calc(100% + 10px); width: -webkit-calc(100% + 10px); width: calc(100% + 10px); height: -moz-calc(100% + 10px); height: -webkit-calc(100% + 10px); height: calc(100% + 10px); display: none;}
body.invert-true .list-item .list-item-outer {background:#666;}
html.csscalc .list-item:hover .list-item-outer {display: block;}

.list-item .holder {position: relative; z-index: 1;}
.list-item { margin-bottom: 20px; position: relative; }
/*.list-item.vertical { height: 500px;}*/
.list-item.horizontal { height:auto;}

.list-item.production.horizontal h3, .list-item.news h3 {margin-top: 0;}
.list-item p {margin-bottom: 5px;}


.list-item p.date { font-weight: bold; margin-bottom: 10px; color: #000; clear:both;}
.list-item.production div.event-tickets {margin-top: 20px;}
/*.list-item.production.horizontal div.event-tickets {position: absolute; top:10px; right:5px; margin-top: 0; }*/
.list-item.production.horizontal a.detail {max-width: 85%; display: block;}
.list-item img { width: 100%;}

/* facebook blok */
#facebook-wrapper { background-color: #000; padding:25px 0; color: #b1b1b1; }
#facebook-wrapper .facebook-stats { margin-top: 49px;}
#facebook-wrapper p.fb-feed-caption-date { margin-bottom: -5px; }
#facebook-wrapper p.date { font-size: 14px; }
#facebook-wrapper p.info { font-size: 12px; }
#facebook-wrapper .fb-feed-item .fb-feed-image {border-color: #999;}
#facebook-wrapper .fb-feed-item .fb-feed-image {max-width: 100%; border:1px solid; border-color: rgba(255, 255, 255, .4); margin-bottom: 10px;}
#facebook-wrapper .fb-feed-timestamp { margin-bottom: 10px; text-transform: lowercase;}
.fb-feed-page-info-likes-span {float:none; margin: 0; padding: 0;}
.fb-feed-page-info-image-wrapper {width: 70px; height:70px; overflow: hidden; margin-top: 10px;}
.fb-feed-page-info-image {}
#facebook-wrapper .fb-like {margin-top: 10px;}


/** twitter blok **/


.tweet-links {
    margin-bottom: 10px;
    font-size: 14px;
}
#twitter-stream {
    text-align: center;
    margin: 30px auto;
    width: 60%;
}
#twitter-stream .banner-overlay-inner {
    font-size: 24px;
    line-height:40px;
}
#twitter-stream .twitter-image {
    display: inline-block;
    max-width: 150px;
}
#twitter-steram .twitter-image img {
    display: block;
    max-width: 100%;
}

/** INSTAGRAM BLOCK **/
#instagram-stream {
    text-align: center;
    margin: 30px auto;
    width: 60%;
}
#instagram-stream .instagram-inner {
    font-size: 24px;
    line-height: 40px;
}


#social-wrapper { background-color: #000; padding:25px 0; color: #b1b1b1; }

#social-wrapper .facebook-image {max-width: 150px;}
#social-wrapper .instagram-image {max-width: 150px;}
#social-wrapper .twitter-image {max-width: 150px;}

/* #instagram-stream .banner-overlay-inner {
	font-size: 24px;
	line-height:40px;
}
#twitter-stream .twitter-image {
	display: inline-block;
	max-width: 150px;
}
#twitter-steram .twitter-image img {
	display: block;
	max-width: 100%;
} */


/* PAGEBLOCKS
-------------------------------------------------------------------------------------------------------------------------------------------------------------------  */

/* productie lijst */


/** TICKETS **/

#upcoming-events a.tickets-link {
    border-radius: 5px;
    /*  font-size: 12px;*/
    padding: 4px 4px;
}

.event-tickets a, .event-tickets .status { border-radius: 5px; padding: 7px 16px; font-size:17px;}
.event-tickets a:hover {background: #333;}
.event-tickets .status {opacity: .7;}


/* more button */
.more {margin-top: 50px; }
.more .ruler{ border-bottom: 2px solid;}
.more .read-more { font-size: 14px; display: block; position: relative; text-align: center; top: -45px; padding-bottom: 25px;
    background-image: url(https://www.ccberchem.be/media/default/images/read-more.png); background-position: center 25px; background-repeat: no-repeat;}
body.invert-true .more .read-more {color: #fff;}

/* productie incons */
#wrapper #main-holder #productie-detail #icons img {display: block;float: left; margin-right: 10px;}
#wrapper #main-holder #productie-detail #icons img.moeilijkheidsgraad{ float: none; clear: both; margin-top: 40px;}
/* productie detail navigatie */
#wrapper #main-holder #productie-detail .productie-nav { display: block;float: left;  height: 42px; width: 26px;text-indent: -9999px; overflow: hidden;}
#wrapper #main-holder #productie-detail .productie-nav.list-btn {margin-left: -8px; margin-right: -8px;background-image: url(https://www.ccberchem.be/media/default/images/back.png); }
body.invert-false #wrapper #main-holder #productie-detail .productie-nav.previous {background-image: url(https://www.ccberchem.be/media/default/images/previous.png);}
body.invert-false #wrapper #main-holder #productie-detail .productie-nav.next { background-image: url(https://www.ccberchem.be/media/default/images/next.png);}
body.invert-false #wrapper #main-holder #productie-detail .productie-nav.list-btn {background-image: url(https://www.ccberchem.be/media/default/images/back.png); }
body.invert-true #wrapper #main-holder #productie-detail .productie-nav.previous {background-image: url(https://www.ccberchem.be/media/default/images/previous-invert.png);}
body.invert-true #wrapper #main-holder #productie-detail .productie-nav.next { background-image: url(https://www.ccberchem.be/media/default/images/next-invert.png);}
body.invert-true #wrapper #main-holder #productie-detail .productie-nav.list-btn {background-image: url(https://www.ccberchem.be/media/default/images/back-invert.png); }

.productie-nav.disabled {opacity: .2; cursor:default;}

/* productie detail */


#page-detail h2 {margin-bottom: 20px;}



#wrapper #main-holder #productie-detail .productie-praktisch {margin-bottom: 20px;}
.productie-embed {margin-bottom: 20px;}

.productie-embed > iframe { margin-bottom: 20px;}
#wrapper #main-holder #productie-detail .productie-link { margin: 25px 0;}
#wrapper #main-holder #productie-detail .productie-link a { font-size: 20px; -moz-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s;}
/* productie detail info */
#wrapper #main-holder #productie-detail #productie-info #icons { margin-top: 20px;}



#wrapper #main-holder #productie-detail .productie-info { margin-bottom: 10px;}




#wrapper #main-holder #productie-detail .productie-info p {}

body.invert-false #wrapper #main-holder #productie-detail .productie-info a {color: #000;}
body.invert-true #wrapper #main-holder #productie-detail .productie-info a {color: #fff;}

#wrapper #main-holder #productie-detail #productie-tickets { margin-top: 0; margin-bottom: 20px;}
#wrapper #main-holder #productie-detail #productie-tickets h4 { line-height: 0; margin-bottom: 20px;}
#wrapper #main-holder #productie-detail #productie-tickets .ticket-btn { border-radius: 5px; padding: 5px 5px; color: #fff !important; font-size: 16px; margin-bottom: 10px; display: block; text-decoration: none; }
#wrapper #main-holder #productie-detail #productie-tickets .ticket-btn span { line-height: 1.1;text-transform: uppercase; font-size: 24px; display: block; margin-top: 5px;}
/* #wrapper #main-holder #productie-detail #productie-tickets div.ticket-btn {background-color:#c2c2c2 !important;}
#wrapper #main-holder #productie-detail #productie-tickets div.ticket-btn:hover {background-color:#c2c2c2 !important;} */

#wrapper #main-holder #productie-detail .productie-indepers .production-pers-list { margin-top: 20px;}


#productie-detail .slideshow-nav {display: none;}

#slideshow-nav ul {
    margin-left: 0;
}



/* productie detail lijst zelfde cc */
#wrapper #main-holder #productie-lijst { }
#wrapper #main-holder #samecc #samecc-title h2 { text-transform: uppercase;  }
#wrapper #main-holder #diffcc { margin-top: 30px; margin-bottom: 100px;}
#wrapper #main-holder #diffcc #diffcc-title h2 { text-transform: uppercase;}

.thumbs-gallery > div { margin-bottom: 20px;}
.thumbs-gallery img { width: 100%;}
.thumbs-gallery .image {position: relative;}
.thumbs-gallery .image .image-overlay{ position: relative; position: absolute; height: 100%; width: 100%; background-position: left center;
    -moz-transition: 0.5s all; -webkit-transition: 0.5s all; transition: 0.5s all;
}
.thumbs-gallery .image:hover .image-overlay{background-image: url('/media/default/images/zoom.png');background-position: center center;   background-repeat: no-repeat;}

.slide .image-overlay {background: #999;}
.slide .image-overlay {background: rgba(0,0,0,0.6); position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 0; opacity: 0;  filter: alpha(opacity = 0);
    transition:0.3s all ease;
}
.slide:hover .image-overlay {opacity: 1;  filter: alpha(opacity = 1); transition:0.3s all ease;}
#slideshow .slide .image-overlay img {width:auto;display: inline;}
.slide .image-overlay .table {display: table; height: 100%;}
.slide .image-overlay .table-cell {display: table-cell; vertical-align: middle; text-align: center; font-size: 24px; color:#fff;}

/* productie detail lijst andere cc */

/* pageblock */
#page-detail {margin-bottom: 20px;}


#page-detail h2.floated {float:left;}
#events-past {float:right; margin-top: 19px; margin-bottom: 0;}
#events-past input#past {float:left;}
#events-past label {float:right; margin-left: 10px;}

a.top {margin-top:10px;}
.page-block-content h2 {margin-bottom: 0 !important;}
html.lt-ie8 #events-past {width:235px;}
/*#page-detail #page-blocks .page-block { margin-bottom: 20px;}*/
#page-detail #page-blocks .page-block  .page-block-content .info { margin:20px 0;margin-bottom:40px !important;}
#page-detail #page-blocks .page-block.text-columns  .page-block-content .info {margin-top: 0;}


#anchor-title {
    font-weight:bold;margin-bottom:10px;
}

#anchors a {
    text-decoration: underline;
}




/* newsletter */
#newsletter-box {margin-top: 10px;}
#newsletter-form label {clear:both;float:left; font-size: 20px; text-transform: uppercase;}
#genres {float:left; margin-left: 100px;}
#genres label {clear:none;float:left;margin-left:10px; font-size: 12px; text-transform: none; font-family: Arial, Helvetica, sans-serif; color: #000;}
#newsletter-form input[type="text"], #tiny-newsletter-form input[type="text"] {height: 30px; color: #fff; border-radius: 0;}
#newsletter-form input[type="checkbox"], #tiny-newsletter-form input[type="checkbox"] {clear:both;float:left}
input.error {background-color:#FF0000 !important;}
#newsletter-optin-label {clear:none !important;margin-left:10px;}
label.error, #genres.error {color:#FF0000;}
#newsletter-form #newsletter-submit, #tiny-newsletter-form #newsletter-submit { color: #fff; height: 30px; padding: 5px 10px 10px 10px; border-radius: 5px; margin-left: 200px; }
#newsletter-form #optin-confirm, #tiny-newsletter-form #optin-confirm { margin-top: 10px; margin-bottom: 10px; }



.fancybox-overlay {z-index: 100000 !important;}
.fancybox-wrap {z-index: 999999 !important;}
/* FOOTER
-------------------------------------------------------------------------------------------------------------------------------------------------------------------   */
/* bovenstuk footer */
footer, #push { height: 320px;}
footer #footer-top { background-color: #49ccd4; padding-top: 30px; min-height: 270px; }
.popupsite footer #footer-top {height: auto;}


.row {clear:both;}
footer #footer-top .footer-info{ color: #fff; font-size: 12px; }
footer #footer-top .footer-info a {color:#fff;}

/* onderste stuk footer */

footer #footer-bot { background-color: #fff; padding: 5px 0;}
footer #footer-bot #logo-stadantwerpen {}
footer #footer-bot #logo-cc { margin-top: 10px; text-align: right;}
footer #footer-bot #logo-cc p{ float: right;}
body.invert-true #logo-cc {color:#000;}



.account-logo {
    max-width: 100px !important;
    margin: 10px 0;
    display: block;
}
#other-accounts a, #other-accounts a:hover, #other-accounts a:active, #other-accounts a:visited, #footer-nav a, #footer-nav a:active, #footer-nav a:visited  {color:#fff;}

#zaplogo { display: block; margin-left: 20px; float: right;}

#zap-share {margin-bottom: 20px;}

#popup{
    background: #fff;
    position: fixed;
    top:50%;
    left:50%;
    color:#000;
    padding:20px;
    /*margin-left:0px !important;*/
}

#popup h2{
    font-family: "Oswald", "Franklin ITC Pro Cond Med","Trebuchet MS",Arial,sans-serif;
}

#popup .txt{clear:both; margin-top: 40px;}
#popup .txt a {
    color: #000;
    border-bottom: 1px dotted #000;
}

#popback{
    background: #000;
    position:fixed;
    top:0px;
    height: 0px;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
    filter: alpha(opacity=50);

    /* Netscape */
    -moz-opacity: 0.5;

    /* Safari 1.x */
    -khtml-opacity: 0.5;

    /* Good browsers */
    opacity: 0.5;

    width: 100%;
    height: 100%;

}

#popwrap #close{
    float:right;
    font-size:1.5em;
    cursor: pointer;
}

#popwrap{
    z-index: 100;
    position: fixed;
}

.instagram-feed-item {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.instagram-feed-item header {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px;
    min-height: 0;
    color:#fff;
    background:#000;
    transition: bottom 200ms ease-in-out;
    -webkit-transition: bottom 200ms ease-in-out;
    -moz-transition: bottom 200ms ease-in-out;
}
.instagram-feed-item a:hover header {
    padding: 10px;
    bottom: 0;
    /*min-height: 100%;*/
    transition: bottom 400ms ease-in-out;
    -webkit-transition: bottom 400ms ease-in-out;
    -moz-transition: bottom 400ms ease-in-out;
}

.instagram-feed-item header h2 {
    font-size: 14px;
    margin-bottom: 0 !important;
}

#map-canvas {
    margin-bottom: 30px;
    width: 100%;
    height: 500px;
}
.gm-style img {
    max-width: none;
}

.filter {
    margin-bottom: 10px;
}
.filter label {
    margin-bottom: 2px;
}
.filter h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
    text-transform: uppercase;
    font-family: "Oswald","Franklin ITC Pro Cond Med","Trebuchet MS",Arial,sans-serif;
    cursor: pointer;
}
.filter h4:before {
    display: inline-block;
    content:"\f054";font-family: "fontawesome";
    width: 30px;
}
.filter h4.collapsed:before {
    display: inline-block;
    content:"\f078";
    width: 30px;
    font-family: "fontawesome";
}
.filter-page .overlay {
    background:rgba(255, 255, 255, 0.90);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top:0;
    left: 0;
}
.filter-page #events {
    position: relative;
}
.filter-page .ajax-loaded .article-list {
    position: relative;
    z-index: 0;
    min-height: 500px;
}
.filter-page .ajax-loader {
    font-size: 26px;
    font-family: "Oswald","Franklin ITC Pro Cond Med","Trebuchet MS",Arial,sans-serif;
    text-transform: uppercase;
    display: table;
    margin: 0 auto;
    margin-top: 20px;
}
.filter-page .ajax-loader span.smaller {
    font-size: 18px;
}
.filter-page .checkbox label {
    font-family: "Oswald","Franklin ITC Pro Cond Med","Trebuchet MS",Arial,sans-serif;
}
.filter-page .count {
    font-family: "Oswald","Franklin ITC Pro Cond Med","Trebuchet MS",Arial,sans-serif;
    margin: 10px 0 10px 0;
    color:#fff;
    padding: 10px;
    line-height: 24px;
    background: #fff;
    color:#000;
}
.filter-page .count .number {
    font-size: 24px;
}
.filter-page .type-newsletter {
    font-weight: bold;
}

.filter-page .buttons {
    margin-bottom: 10px;
}

.filter-page .buttons button, .modal-footer .btn {
    background: none;
    border: none;
    margin-right: 5px;
    /* display: block;
    width: 100%; */
    font-weight: normal;
    text-shadow: none;
    text-align: left;
    color:#fff !important;
    font-size: 16px;
    font-family: "Oswald","Franklin ITC Pro Cond Med","Trebuchet MS",Arial,sans-serif;
    border-radius: 5px;
    padding: 5px;
}

.modal-body {
    color:#333;
}

.modal-footer .btn {
    margin: 0;
    margin-left: 5px;
    box-shadow: none;
}

.modal-header h3 {
    color:#333;
    font-size: 22px;
    font-family: "Oswald","Franklin ITC Pro Cond Med","Trebuchet MS",Arial,sans-serif;
}
.modal-footer {
    border: none;
    box-shadow: none;
    /*background: none;*/
}

.alert {
    background:#fff;
    /* color:#000; */
    border-radius: 0;
}




.home-text p {
    font-size: 18px;
}