<div id="widget-{{ id }}" data-widget-placeholder-id="{{ id }}" data-widget-type="{{ type }}" data-widget-autoload="0" data-widget-facet-target="{{ facet_target_id }}">
<p>facet placeholder?</p>
</div>