<div class="cnw_w">
    <div class="cnw_container">
        <div id="loadcontent">
            {% for facet in facets %}
                {% include 'widgets/facet.html.twig' with { 'facet': facet } %}
            {% endfor %}
        </div>
    </div>
</div>