<div id="widget-{{ id }}" data-widget-placeholder-id="{{ id }}" data-widget-type="{{ type }}" data-widget-autoload="0" data-widget-facet-target="{{ facet_target_id }}">
    <div class="widget-loader">
        <div class="widget-loader--wrapper">
            <div class="widget-loader--block"></div>
            <div class="widget-loader--text">Even geduld </div>
        </div>
    </div>
</div>