<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Search form</title>

    <link rel="apple-touch-icon" href="../apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../../styles/cn_widget_styling.css">

    <link rel="stylesheet" href="/../../css/nonCompiled.css">

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
</head>
<body>


<div class="cnw_w">
    <div class="cnw_container-fluid">
        <div id="loadcontent">
            <form class="cnw_form cnw_form--extended">
                <div class="cnw_row">

                    <div class="cnw_col">
                        <h4 class="cnw_h4">Wat zoek je ?</h4>

                        <div class="cnw_form-group cnw_zoek-wat">
                            <label for="cnw_zoek-wat">Wat</label>
                            <input type="text" class="cnw_form-control" id="cnw_zoek-wat" placeholder="Wat ?">
                        </div>

                        <div class="cnw_form-group cnw_zoek-wanneer">
                            <label for="cnw_zoek_wanneer">Wanneer</label>
                            <select class="cnw_form-control" id="cnw_zoek_wanneer">
                                <option>Vandaag</option>
                                <option>Morgen</option>
                                <option>Dit weekend</option>
                            </select>
                        </div>

                        <div class="cnw_form-group cnw_zoek-waar">
                            <label for="cnw_zoek-waar">Waar</label>
                            <input type="text" class="cnw_form-control" id="cnw_zoek-waar" placeholder="Waar ?">
                        </div>

                    </div>

                    <div class="cnw_col">
                        <h4 class="cnw_h4">waar section</h4>
                        <div class="cnw_form-group cnw_zoek-waar">
                            <label for="cnw_zoek-waar">Waar</label>
                            <input type="text" class="cnw_form-control" id="cnw_zoek-waar" placeholder="Waar ?">
                        </div>

                        <div class="cnw_form-checkboxes_group">
                            <div class="cnw_form-check">
                                <label class="cnw_form-check-label">
                                    <input class="cnw_form-check-input" type="checkbox" value="">
                                    checkoption 1
                                </label>
                            </div>
                            <div class="cnw_form-check">
                                <label class="cnw_form-check-label">
                                    <input class="cnw_form-check-input" type="checkbox" value="">
                                    checkoption 2
                                </label>
                            </div>
                        </div>

                        <div class="cnw_form-group cnw_zoek-waar">
                            <label for="cnw_zoek-waar">Waar</label>
                            <input type="text" class="cnw_form-control" id="cnw_zoek-waar" placeholder="Waar ?">
                        </div>

                    </div>
                    <div class="cnw_col">
                        <h4 class="cnw_h4">wanneer section</h4>
                        <div class="cnw_form-group cnw_zoek-wanneer">
                            <label for="cnw_zoek_wanneer">Wanneer</label>
                            <select class="cnw_form-control" id="cnw_zoek_wanneer">
                                <option>Vandaag</option>
                                <option>Morgen</option>
                                <option>Dit weekend</option>
                            </select>
                        </div>

                        <div class="cnw_formcheck_group">
                            <div class="cnw_form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                           value="option1" checked>
                                    wanneer opties
                                </label>
                            </div>
                            <div class="cnw_form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                           value="option1" checked>
                                    wanneer opties
                                </label>
                            </div>
                            <div class="cnw_form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                           value="option1" checked>
                                    wanneer opties
                                </label>
                            </div>
                            <div class="cnw_form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                           value="option1" checked>
                                    wanneer opties
                                </label>
                            </div>
                            <div class="cnw_form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                           value="option1" checked>
                                    wanneer opties
                                </label>
                            </div>
                            <div class="cnw_form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                           value="option1" checked>
                                    wanneer opties
                                </label>
                            </div>
                            <div class="cnw_form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                                           value="option1" checked>
                                    wanneer opties
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="cnw_col">
                        <h4 class="cnw_h4">Taal section</h4>
                        <div class="cnw_form-group cnw_zoek-waar">
                            <label for="cnw_zoek-waar">Waar</label>
                            <select class="cnw_form-control" id="cnw_zoek_taal">
                                <option>Nederlands</option>
                                <option>Frans</option>
                                <option>Duits</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="cnw_row">
                    <div class="cnw_col">
                        <button type="submit" class="cnw_btn cnw_btn-search">zoek</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>


<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/tether/dist/js/tether.js"></script>
<script src="/bower_components/modernizr/modernizr.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/plugins.js -->
<script src="/bower_components/bootstrap/js/dist/util.js"></script>
<script src="/bower_components/bootstrap/js/dist/alert.js"></script>
<script src="/bower_components/bootstrap/js/dist/button.js"></script>
<script src="/bower_components/bootstrap/js/dist/carousel.js"></script>
<script src="/bower_components/bootstrap/js/dist/collapse.js"></script>
<script src="/bower_components/bootstrap/js/dist/dropdown.js"></script>
<script src="/bower_components/bootstrap/js/dist/modal.js"></script>
<script src="/bower_components/bootstrap/js/dist/scrollspy.js"></script>
<script src="/bower_components/bootstrap/js/dist/tab.js"></script>
<script src="/bower_components/bootstrap/js/dist/tooltip.js"></script>
<script src="/bower_components/bootstrap/js/dist/popover.js"></script>
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="/scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
