<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>templates</title>
    <link rel="stylesheet" href="../../styles/cn_widget_styling.css">
</head>
<body>

<div id="loadcontent">
    <div class="cnw_container-fluid">
        <section class="cnw_row">
            <div class="cnw_col-8 cnw_center ">center</div>
            <aside class="cnw_col-4 cnw_sideCol cnw_right ">right</aside>
        </section>

    </div>
</div>

</body>
</html>
