<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>templates</title>
    <link rel="stylesheet" href="../../styles/cn_widget_styling.css">

    <link rel="stylesheet" href="/../../css/nonCompiled.css">
</head>
<body>

<div id="loadcontent">
<div class="cnw_container-fluid">

    <section class="cnw_row">
        <div class="cnw_col-2  cnw_sideCol ">
            <form>
                <div class="cnw_row cnw_align-items-center">
                    <div class="cnw_col-sm">
                        <div class="cnw_form-group cnw_zoek-wat">
                            <label for="cnw_zoek-wat">Wat</label>
                            <input type="text" class="cnw_form-control" id="cnw_zoek-wat"  placeholder="Wat ?">
                        </div>
                    </div>
                    <div class="cnw_col-sm">
                        <div class="cnw_form-group cnw_zoek-waar">
                            <label for="cnw_zoek-waar">Waar</label>
                            <input type="text" class="cnw_form-control" id="cnw_zoek-waar"  placeholder="Waar ?">
                        </div>

                    </div>
                    <div class="cnw_col-sm">
                        <div class="cnw_form-group cnw_zoek-wanneer">
                            <label for="cnw_zoek_wanneer">Wanneer</label>
                            <select class="cnw_form-control" id="cnw_zoek_wanneer">
                                <option>Vandaag</option>
                                <option>Morgen</option>
                                <option>Dit weekend</option>
                            </select>
                        </div>
                    </div>
                    <div class="cnw_col-sm">
                        <button type="submit" class="cnw_btn cnw_btn-search">zoek</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="cnw_col-8  ">

            <form>
                <div class="cnw_row cnw_align-items-center">
                    <div class="cnw_col-sm">
                        <div class="cnw_form-group cnw_zoek-wat">
                            <label for="cnw_zoek-wat">Wat</label>
                            <input type="text" class="cnw_form-control" id="cnw_zoek-wat"  placeholder="Wat ?">
                        </div>
                    </div>
                    <div class="cnw_col-sm">
                        <div class="cnw_form-group cnw_zoek-waar">
                            <label for="cnw_zoek-waar">Waar</label>
                            <input type="text" class="cnw_form-control" id="cnw_zoek-waar"  placeholder="Waar ?">
                        </div>

                    </div>
                    <div class="cnw_col-sm">
                        <div class="cnw_form-group cnw_zoek-wanneer">
                            <label for="cnw_zoek_wanneer">Wanneer</label>
                            <select class="cnw_form-control" id="cnw_zoek_wanneer">
                                <option>Vandaag</option>
                                <option>Morgen</option>
                                <option>Dit weekend</option>
                            </select>
                        </div>
                    </div>
                    <div class="cnw_col-sm">
                        <button type="submit" class="cnw_btn cnw_btn-search">zoek</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="cnw_col-2 ">right</div>
    </section>
</div>
</div>


</body>
</html>
