<!--  results - CARD  START -->
<div class="cnw_card cnw_card--searchresult">
    <div class="cnw_row ">
        <div class="cnw_col-4">
            <img src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="cnw_img-fluid">
        </div>
        <div class="cnw_col-8">
            <div class="card-block ">
                                    <span class="cnw_stickers cnw_stickers--mini">
                                            <span class="cnw_sticker cnw_sticker--vlieg">
                                                <span class="cnw_txt">7+</span>
                                            </span>
                                      </span>

                <p class="cnw_card-text cnw_card-date"><small>Woensdag 12 juni 2017 om 17:00 uur</small></p>
                <h4 class="cnw_card-title">Lorem ipsum dolor sit amet</h4>
                <p class="cnw_card-text cnw_card-location">Location</p>
                <p class="cnw_card-text">
                    <a href="" class="cnw_link__card-thema">Thema</a>
                    <a href="" class="cnw_link__card-thema">Thema</a>
                    <a href="" class="cnw_link__card-thema">Thema</a>
                </p>
                <a href="#" class="cnw_btn cnw_btn__card-readmore">Lees meer</a>
            </div>
        </div>
    </div>
</div>
<!--  results - CARD  END -->