<div class="cnw_w">
    <div class="cnw_container-fluid">
        <section class="cnw_row">
            <div class="cnw_col-4 cnw_sideCol cnw_left">{{ left | raw }}</div>
            <aside class="cnw_col-8 cnw_center ">{{ content | raw }}</aside>
        </section>
    </div>
</div>