
.cnw_align-items-center {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.cnw_align-items-end {
  -webkit-box-align: end !important;
  -webkit-align-items: flex-end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.cnw_push-right {
  float: right;
}

.cnw_hidden{
  display: none !important;
}

// Hides the content visibly but is still available for screenreaders
// https://webaim.org/techniques/css/invisiblecontent/
@mixin hiddenClip {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  @content;
}

