<div class="cnw_search__facetedSearch--block">
    <h4>Wat</h4>
    <a href="#" class="cnw_search__facetedSearch-link">FacetedSearch link (99999)</a>
    <a href="#" class="cnw_search__facetedSearch-link">FacetedSearch link (99999)</a>
    <a href="#" class="cnw_search__facetedSearch-link">FacetedSearch link (99999)</a>
    <a href="#" class="cnw_search__facetedSearch-link">FacetedSearch link (99999)</a>
    <a href="#" class="cnw_search__facetedSearch-link">FacetedSearch link (99999)</a>
</div>