<div class="cnw_w">
    <div class="cnw_container-fluid">
            <div class="cnw_row cnw_clips">

                {% for event in events %}
                    <div class="cnw_col">
                        {% include 'widgets/event-summary.html.twig' with { 'event': event, 'settings': settings_items } %}
                    </div>
                {% endfor %}

            </div>
    </div>
</div>