<div class="cnw_w">
    <div class="cnw_container-fluid">
                {% for event in events %}
                 
                    {% if loop.index % 3  == 1 %}
                        <div class="cnw_row cnw_clips">
                     {% endif %}

                    {% if loop.last %}
                    <div class="col-4">
                            {% else %}
                        <div class="col">
                    {% endif %}
                        {% include 'widgets/event-summary.html.twig' with { 'event': event, 'settings': settings_items } %}
                    </div>

                     {% if loop.index % 3  == 0 %}
                         </div>
                      {% endif %}

                {% endfor %}
            </div>
    </div>
</div>