
<div class="cnw_w">
    <div class="cnw_container-fluid">
        <section class="cnw_row">
            <div class="cnw_col-4 cnw_left ">{{ left | raw }}</div>
            <div class="cnw_col-4 cnw_center">{{ content | raw }}</div>
            <div class="cnw_col-4 cnw_right ">{{ right | raw }}</div>
        </section>
    </div>

</div>
