
<div class="cnw_w">
    <div class="cnw_container-fluid">
        <section class="cnw_row">
            <div class="cnw_col-4 cnw_left xs">{{ left | raw }}</div>
            <div class="cnw_col-4 cnw_center xs">{{ content | raw }}</div>
            <div class="cnw_col-4 cnw_right xs">{{ right | raw }}</div>
        </section>
    </div>

</div>
