// General styles for action-bar
.actions-bar .btn {
  padding: 0;
  margin: 0;
}

.actions-bar .btn i {
  display: block;
  width: 26px;
  height: 26px;
  line-height: 26px;
}

.edit-searchfilters--group,
.layout--region {
  .actions-bar {
    background-color: #eff1f3;
    min-height: 42px;
  }
  .actions-bar--component {
    padding: 5px;
    opacity: 1;
    transform: translate(0, 0);
    height: inherit;

  }
}

.actions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.widget-group-filters-group-edit .actions-list {
  float: right;
  width: 75%;
  text-align: right;
}


//  OUTER ROW //
.outer-row {
  .actions-bar--row {
    margin: 5px 0 0 0;
    -webkit-transform: translate(0, -4px);
    background-color: #eff1f3;
  }

  .actions-bar {
    padding: 0;
    z-index: 980;
  }
}

.layout--region .actions-bar--component {
  display: none;
}

.edit-searchfilters--group,
.layout--region .selected {
  > .actions-bar--component {
    display: block;
    overflow: hidden;
    list-style-type: none;
    transition: all 0.25s ease;
  }

  ul.actions-list {
    min-height: 36px;
    padding-top: 3px;
  }
}

.actions-bar--row button.btn,
.actions-bar--row .btn,
.actions-bar--component .btn {
  background-color: $cnw_color-blueLight;
  color: #FFF;
  padding: 0;
  margin: 6px;
  border-radius: 50%;
  background-color: #b6c4d0;
  color: #FFF;

  padding: 0;
  margin: 5px;
  border: 0px;
  margin-left: 5px;

  &.bnt-cnw-action--remove {
    background-color: $cnw_color-red;
    color: white;
    float: right;
  }

  &.bnt-cnw-action--loading {
    background-color: transparent;
  }
  &.bnt-cnw-action--drag {
    cursor: grab;
  }

  &:hover {
    box-shadow: 1px 1px 1px 1px #d4d4d4;

  }

}

.actions-bar--row li,
.actions-bar--component li {
  display: inline;
  margin-right: 5px;
}

.actions-bar--row .btn li.move,
.actions-bar--component li.move {
  float: left;
}

.actions-bar--row li {
  margin-bottom: 5px;
}

.actions-bar button span {
  display: none;
  @include text-hide();
}

.selected .actions-bar--component {
  margin-bottom: 1rem;
}
