.component {
  display: block;
  text-align: left;
  margin: 5px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #d5dde4;
  position: relative;
  transition: box-shadow 0.25s ease;

}

.component-label {
  margin: 0 0 0 1rem;
  line-height: 40px;
  white-space: nowrap;
}

.component-icon {
  width: 40px;
  height: 40px;
  display: block;
}

.components-group,
.layouts-group {
  opacity: 0;
  height: 0;
  transition: all 0.5s ease;
  position: absolute;
  z-index: 980;
  background-color: #004F94;
  width: 300px;
  margin: 0 auto;
  left: 50%;
  margin-left: -150px;
  padding: 10px 5px 0 5px;
  display: none;
}

.components-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  overflow: hidden;
}

.components-listitem {
  margin-bottom: 7.5px;
  width: 100%;
  padding: 0 5px;
}

.selected {
  background-color: white;
  border: 1px solid $cnw_color-blueLight;
  box-shadow: -1px -1px 17px 1px rgba(212, 212, 212, 1);

  .inner-preview-rendering {
    display: none;
  }
  &.component--preview-throbber {
    background-color: rgba($green, 0.1);
    overflow:hidden;
    height: 100%;
    &::after {
      content: '';
      position: absolute;
      top:0;
      left: 0;
      height: 500%;
      width: 100%;
      border: 1px solid $green;
      background-color: rgba($green, 0.5);
      animation: bg-pulse 0.8s infinite normal;
      z-index: 100;
      opacity: 0.4;
     cursor: progress;

    }

    .inner-preview-rendering {
      display: block;
      position: absolute;
      width: 100%;
      padding: 10px;
      top: 0;
      margin: 0 auto;
      background-color: $green;
      z-index: 102;
      color: white;
      .fa {
        color: white;
        margin-right: 20px;
      }
      span {

        font-size: 1.2em;
      }
    }

  }
}


.selected .selector {
  height: 0;
}





.slide-in-br {
}

/* ----------------------------------------------
 * Generated by Animista on 2017-7-19 17:42:17
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-br
 * ----------------------------------------
 */
@keyframes slide-in-br {
  0% {
    transform: translateY(100px) translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}


.builder--edit-modus .selected {

  background-color: white;

  background-color:#e6e6e6;

  background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(90deg, white 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;


  border: 1px solid $cnw_color-blueLight;
  //padding: 0;
  //border: 1px solid #004F94;
  box-shadow: -1px -1px 17px 1px rgba(212, 212, 212, 1);

  animation: slide-in-br 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  position: fixed !important;
  box-shadow: -1px -1px 17px 1px #d4d4d4;
  top: 56px;
  left: 0;
  z-index: 40;
  width: 70%;
  overflow-x: scroll;
  height: 100vh;
  margin: 0 !important;
  transition: all 0.45s ease;
  padding: 1rem 0 2rem 0;
  .actions-bar {
    height: 42px !important;
  }

  .inner-preview-wrapper {

  }


  .cnw_w {
    background-color: white;
  }
}
