.styleresults ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.styleresults ul li {
  line-height: 30px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
  padding-top: 5px;
}

.styleresults .copy {
  float: right;
}

.colour-bg {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-right: 5px;
}

.colour-text {
  display: inline-block;
  margin-right: 5px;
}