.sidebar {
  .selected-element {
    padding:1rem;
  }
  legend {
    margin-top: 2em;
    font-size: 1.5rem;
    line-height: 1.2em;
    padding-bottom: 0.75em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid gray;
  }

  fieldset {
    margin: 0 0 1.5rem 0;
  }

  .widget-group-filters-edit fieldset {
    margin: 1.5rem 0 0 0;
    legend {
      font-size: 1.3rem;

      font-weight: 200;
    }
  }

}
.edit-searchfilters--selectgroup {
  border-bottom: 1px dotted #ccc;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  > .edit-searchfilters--selectgroup {
    border-bottom: none;
  }

}


.edit-searchfilters--group {

  @include dottedBorder();
  padding: 0.5rem;
  margin-bottom: 2.5rem;

  .actions-bar {
    margin-bottom: 0.8rem;
    .action-list li {
      float: left;
    }
  }
  h5 {
    margin-top: 3rem;
    border-bottom: 1px solid gray;
    padding-bottom: 1rem;
    font-weight: 300;
  }
  .form-check label.form-check-label {
    display: block;
    width: 100%;
  }

}

.widget-group-filters-group-option-edit {
  margin: 1rem 0 1.5rem 0;
}