
.page-template,
.page-list {
  width:100%;

  .page-list--header {
    margin: 2rem 0;
    &.col-md {
      padding-left: 0;
      padding-right: 0;
    }
    h1 {
      font-size: 2rem;
      font-weight: 200;
      margin-bottom: 1rem;
    }
  }

  .legacyWidgets {

    h2 {
      font-size: 2rem;
      font-weight: 200;
    }

    h4 {

      font-size: 1.2rem;

      &.title-new-version {
        margin-top: 10px;
      }

    }

  }
.card-header {
  background-color: transparent;
}
  h3.card-header--title {
    margin: 0;
    line-height: 38px;
    color: #337ab7;
    font-size: 1.2em;
    font-weight: 400;

  }

  .card {
    margin-bottom: 2rem;
    border-radius: 0;

    .page-template--info {
      margin-bottom: 0;
    }
  }

  .btn {

    border: 1px solid #004F94;
    text-decoration: none;
    border-radius: 2px;
    color: #004F94;
    font-size: 14px;

    &:hover {
      border-color: #00192e;
      background-color: #004F94;
      color: #FFF;
      transition: all .15s ease-out;
      cursor: pointer;
      text-decoration: none;

    }

    &.btn-link--remove {
      color:$red;
      border-color:$red;
      &:hover {
        background-color: $red;
        color: white;
      }
    }
  }

  .btn-primary {
    color: #fff;
  }


}
.clipboard-group {
  .btn-copy-clipboard {
    line-height: inherit;
    border-radius: 0.25rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    border-color: #dadada;
    color: #dadada;
    .fa {
      color: #004F92;
    }

    &:hover {
      background-color: #004F94;
      .fa {
        color: #fff;
      }
    }

    &.btn-success {
      background-color: #449d44;
      border-color: #449d44;
      color: #fff;
      .fa {
        color: #fff;
      }
    }
  }
}


.page-template {
  h4 {
    font-size: 1.2rem;
  }

  p.cnw_lead {
    font-size: 1.2rem;
    font-weight: 100;
  }
}