<div class="cnw_w">
    <div class="cnw_container-fluid">
        <div class="three-col-double-sidebar">

            <div class="sidebar-left">
                {{ left | raw }}
            </div>

            <div class="content">
                {{ content | raw }}
            </div>

            <div class="sidebar-right">
                {{ right | raw }}
            </div>

        </div>
    </div>
</div>