<div class="cnw_form-check">
    <span class="cnw_form-check--label">{{  label }}</span>
    {% for option_key, option in options %}
        <label class="form-check-label">
            <input type="checkbox" name="{{ name }}" value="{{ option_key }}">
            {{ option.label }}
        </label>
    {% endfor %}
</div>
