<div class="cnw_form-check">
    <span class="cnw_form-check--label">{{  label }}</span>
    {% for option_key, option in options %}
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="{{ name }}" value="{{ option_key }}"{% if option_key in default_options %} checked{% endif %}>
            {{ option.label }}
        </label>
    {% endfor %}
</div>
