<div class="cnw_form-group">
    <label for="cnw_zoek_wanneer">Wanneer</label>
    <select class="cnw_form-control" id="cnw_zoek_wanneer">
        <option>Vandaag</option>
        <option>Morgen</option>
        <option>Dit weekend</option>
    </select>
</div>