<div class="cnw_form-group">
    {% if label %}
        <label>
           {{ label }}
        </label>
    {% endif %}
    <select class="cnw_form-control">
        {% for option in options %}
           <option{% if default_option == option.label %} selected{% endif %}>{{ option.label }}</option>
        {% endfor %}
    </select>
</div>
