<div class="cnw_form-check">
    <span class="cnw_form-check--label">{{  label }}</span>
    {% for option in options %}
        <label class="form-check-label">
            <input class="form-check-input" type="radio" value="{{ option.label }}"{% if default_option == option.label %} checked{% endif %}>
            {{ option.label }}
        </label>
    {% endfor %}
</div>
