<div class="cnw_form-check">
    {% for option in options %}
        <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                   value="{{ option.label }}" checked>
            {{ option.label }}
        </label>
    {% endfor %}
</div>
