<div class="cnw_w">
    <div class="cnw_container-fluid">
        <form class="cnw_form cnw_form--extended">
            <div class="cnw_row">

                {% if fields.type.keyword_search.enabled or fields.type.group_filters.enabled %}
                    <div class="cnw_col">
                        {% if fields.type.keyword_search.enabled %}
                            <div class="cnw_form-group cnw_zoek-wat">
                                <label for="cnw_zoek-wat">
                                    {{  fields.type.keyword_search.label }}
                                </label>
                                <input type="text" class="cnw_form-control" id="cnw_zoek-wat" placeholder="Wat ?">
                            </div>
                        {% endif %}

                        {% if fields.type.group_filters.enabled %}
                            {% for filter in  fields.type.group_filters.filters %}
                                {% include 'widgets/search-form-widget/group-filter-' ~ filter.type ~  '.html.twig' with {'label':filter.label, 'placeholder':filter.placeholder, 'options':filter.options} %}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}

                {% if fields.location.keyword_search.enabled or fields.location.group_filters.enabled %}
                    <div class="cnw_col">
                        {% if  fields.location.keyword_search.enabled %}
                            <div class="cnw_form-group cnw_zoek-waar">
                                <label for="cnw_zoek-waar">
                                    {{  fields.location.keyword_search.label }}
                                </label>
                                <input type="text" class="cnw_form-control" id="cnw_zoek-waar" placeholder="Waar ?">
                            </div>
                        {% endif %}

                        {% if fields.location.group_filters.enabled %}
                            {% for filter in  fields.location.group_filters.filters %}
                                {% include 'widgets/search-form-widget/group-filter-' ~ filter.type ~  '.html.twig' with {'label':filter.label, 'placeholder':filter.placeholder, 'options':filter.options} %}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}

                {% if fields.time.date_search.enabled or fields.time.date_search.group_filters.enabled %}
                    <div class="cnw_col">
                        {%  if  fields.time.date_search.enabled %}
                            <div class="cnw_form-group cnw_zoek-wanneer">
                                <label for="cnw_zoek_wanneer">
                                    when
                                </label>
                                <select class="cnw_form-control" id="cnw_zoek_wanneer">
                                    <option>Vandaag</option>
                                    <option>Morgen</option>
                                    <option>Dit weekend</option>
                                    <option>Binnen 7 dagen</option>
                                    <option>Binnen 14 dagen</option>
                                    <option>Binnen 30 dagen</option>
                                    <option>Aangepaste datum</option>
                                </select>
                            </div>
                        {% endif %}

                        {% if fields.time.group_filters.enabled %}
                            {% for filter in  fields.time.group_filters.filters %}
                                {% include 'widgets/search-form-widget/group-filter-' ~ filter.type ~  '.html.twig' with {'label':filter.label, 'placeholder':filter.placeholder, 'options':filter.options} %}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}

                <div class="cnw_col">
                    {% if  fields.extra.group_filters.enabled %}
                        {% for filter in  fields.extra.group_filters.filters %}
                            {% include 'widgets/search-form-widget/group-filter-' ~ filter.type ~  '.html.twig' with {'label':filter.label, 'placeholder':filter.placeholder, 'options':filter.options} %}
                        {% endfor %}
                    {% endif %}
                </div>

            </div>


            <div class="cnw_row">
                <div class="cnw_col">
                    <button type="submit" class="cnw_btn cnw_btn-search">zoek</button>
                </div>
            </div>
        </form>

    </div>
</div>
