//-- COLORS -- //

$cnw_color-blueDark:          #004F94;
$cnw_color-blueHeader:        #2F3B4D;
$cnw_color-blueLight:         #d5dde4;
$cnw_color-blueLight2:         #e1f1ff;

$cnw_color-grayLight:         #f3f3f3;
$cnw_color-red:         #da634e;


//-- navbar -- //
$cnw_navbar-height: 40px;

//-- header -//
$cnw_header-height: 150px;


$cnw_builder-top: $cnw_header-height + 42px;




